form {
  text-align: center;
}

body {
  background-image: linear-gradient(60, white, blue);
}

p {
  color: black;
  font-family: Arial;
  font-size: 120%;
}

h1 {
  color: black;
  font-family: Arial;
  font-size: 300%;
}